pushf 1.9
ftoi
pushi 0
pushi 0
pushf 10.2
read
dup 1
atoi
storeg 1
free
c0 :
pushg 0
pushi 10
inf
jz e0
pushg 0
pushi 2
equal
jz e1
pushg 0
writei
e1 :
pushg 0
pushi 1
add
storeg 0
jump c0
e0 :
pushg 0
pushi 10
equal
jz e2
pushi 1
storeg 0
jump t0
e0 :
pushg 0
writei
t0 :
jump af3
nome :
read
dup 1
atoi
storeg 1
free
read
dup 1
atoi
storeg 2
free
pushg 1
pushg 2
add
storel -1
return
af0 :
pushi 0
pusha nome
call
storeg 1
pushg 1
writei
