pushf 1.9
ftoi
pushs "10"
atoi
pushs "19.1"
atof
pushf 10.8
strf
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
start
jump af0
teste :
pushi 0
pushl 0
pushi 10
equal
jz e1
pushs "Olá JCR"
writes
pushi 1
storel -1
return
jump t1
e1 :
pushi 2
storel -1
return
t1 :
af0 :
jump af2
teste2 :
pushi 0
af2 :
pushi 0
pusha teste
call
storeg 0
