pushf 1.9
ftoi
pushs "10"
atoi
pushs "19.1"
atof
pushf 10.8
strf
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
pushi 0
start
jump af0
teste :
pushi 0
af0 :
jump af1
teste :
pushi 0
af1 :
